<footer>
  <div class="text-center">
    <button type="button" class="btn btn btn-outline-warning">
      <a href="https://github.com/anubhabsen" target="_blank" rel="noopener noreferrer">Made with <img src="/static/imgs/heart.svg"> by Anubhab Sen</a>
    </button>
  </div>
  <br>
  <div class="text-center">
  <button type="button" class="btn btn btn-outline-warning">
    <a href="https://github.com/anubhabsen/corona-dashboard" class="button github" target="_blank">
      <img src="/static/imgs/github.svg">
      <span>Open Sourced on GitHub</span>
    </a>
  </button>
  </div>
  <br>
  <div class="text-center">
  <button type="button" class="btn btn btn-outline-warning">
    <a class="button excel" href="https://bit.ly/patientdb" target="_blank">
      <img src="/static/imgs/database.svg">
      <span>Sourced from The COVID Tracking Project</span>
    </a>
  </button>
  </div>
</footer>