<!doctype html>
<html lang="en">
	<head>
	  	<meta charset="utf-8">
	  	<title>Covid19 Dashboard</title>
	  	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	  	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
	</head>
	<body>
		{% include 'base.html' %}
    	{% block navbar %}
    	{% endblock %}
    	<h1 class="h1">World Stats</h1>
    	<div class="table-responsive table-hover">
	  		<table class="table world">
	  			<!-- <caption>&nbsp; Last Updated: {{ table_data.time }}</caption> -->
	  			<thead>
				    <tr>
				      <th scope="col">Country</th>
				      <th scope="col">Positives</th>
				      <th scope="col">Deaths</th>
				      <th scope="col">Recovered</th>
				    </tr>
				  </thead>
				  <tbody class="world">
				  	{% for i in table_data.country %}
				  		{% set country = table_data.country[loop.index-1] %}
      					{% set positives = table_data.positives[loop.index-1] %}
      					{% set up_positives = table_data.up_positives[loop.index-1] %}
      					{% set deaths = table_data.deaths[loop.index-1] %}
      					{% set up_deaths = table_data.up_deaths[loop.index-1] %}
      					{% set recovered = table_data.recovered[loop.index-1] %}
				    <tr class="world">
				      <td>{{ country }}</td>
				      <td>{{ positives }} (+{{ up_positives }})</td>
				      <td>{{ deaths }} (+{{ up_deaths }})</td>
				      <td>{{ recovered }}</td>
				    </tr>
    	  			{% endfor %}
				</tbody>
	  		</table>
		</div>
		{% include 'footer.html' %}
    	{% block foot %}
    	{% endblock %}
	</body>
</html>